
#about { 
	position: absolute;
	bottom: 0;
	left: 0;
	width: 120px;
	height: 100px;
	background: #ee3e64;
}
#skills { 
	position: relative;
	left: 200;
	width: 120px;
	height: 100px;
	background: #44accf;
}
#mywork { 
	position: relative;
	left: 400;
	width: 120px;
	height: 100px;
	background: #b7d84b;
}
#activities { 
	position: relative;
	left: 600;
	width: 120px;
	height: 100px;
	background: #ebde52;
}
#contact { 
	position: relative;
	left: 800;
	width: 120px;
	height: 100px;
	background: #eace52;
}
