
#about { 
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 200px;
	height: 100px;
	background: #ee3e64;
}
#skills { 
	position: absolute;
	bottom: 0;
	left: 200px;
	width: 200px;
	height: 100px;
	background: #44accf;
}
#mywork { 
	position: absolute;
	bottom: 0;
	left: 400px;
	width: 200px;
	height: 100px;
	background: #b7d84b;
}
#activities { 
	position: absolute;
	bottom: 0;
	left: 600px;
	width: 200px;
	height: 100px;
	background: #ebde52;
}
#contact { 
	position: absolute;
	bottom: 0;
	left: 800px;
	width: 200px;
	height: 100px;
	background: #eace52;
}
