
#about { 
	position: absolute;
	bottom: 0;
	left: 140px;
	width: 200px;
	height: 50px;
	text-align: center;
	/*background: #ee3e64;*/
}
#skills { 
	position: absolute;
	bottom: 0;
	left: 340px;
	width: 200px;
	height: 50px;
	/*background: #44accf;*/
}
#mywork { 
	position: absolute;
	bottom: 0;
	left: 540px;
	width: 200px;
	height: 50px;
	/*background: #b7d84b;*/
}
#activities { 
	position: absolute;
	bottom: 0;
	left: 740px;
	width: 200px;
	height: 50px;
	/*background: #ebde52;*/
}
#contact { 
	position: absolute;
	bottom: 0;
	left: 940px;
	width: 200px;
	height: 50px;
	/*background: #eace52;*/
}

#about:hover, #skills:hover, #mywork:hover, #activities:hover, #contact:hover {
          background-color: #7A991A;
      }
/*
#about:active, #skills:active, #mywork:active, #activities:active, #contact:active {
	  font-weight: bold;
          color: #FFFFFF;
          background-color: #98bf21;
          text-align: center;
          padding: 4px;
          text-decoration: none;
          text-transform: uppercase;
      }
*/
