
/*left box*/
#box_1 { 
  position: absolute; 
  top: 10px; 
  right: 50%; 
  bottom: 10px; 
  left: 10px; 
  background: #000000;
  -webkit-animation-name: l-open; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 3; /* Chrome, Safari, Opera */
  animation-name: l-open;
  animation-duration: 2s;
  animation-iteration-count: 3;
  /* transform:rotateY(90);*/}
/*right box*/
#box_2 { 
  position: absolute; 
  top: 10px; 
  right: 10px; 
  bottom: 10px; 
  left: 50%; 
  background: #FFF5C3;
  -webkit-animation-name: r-open; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 3; /* Chrome, Safari, Opera */
  animation-name: r-open;
  animation-duration: 2s;
  animation-iteration-count: 3;
  /* transform:rotateY(90);*/}

/* Chrome, Safari, Opera */
@-webkit-keyframes l-open {
  transform:rotateY(-30deg);
}
/* Chrome, Safari, Opera */
@-webkit-keyframes r-open {
  transform:rotateY(30deg);
}

/* Standard syntax */
@keyframes l-open {
  transform:rotateY(-30deg);
}
/* Standard syntax */
@keyframes r-open {
  transform:rotateY(30deg);
}
