/*left box*/
#box_1 { position: absolute; top: 0px; right: 50%; bottom: 0px; left: 0px; background: #000000; transform:rotateY(90);}
/*right box*/
#box_2 { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 50%; background: #FFF5C3; transform:rotateY(-90);}
